.container {
  padding: 0 1rem;
  @include flex-container(space-between);

  @include media('#{break()}tablet') {
    padding: 0 2.5rem;
  }
}

@for $i from 1 through map-get($grid, 'columns') {
  @if $i == 12 {
    .col-sm--#{$i} {
      flex: 0 0 (column-width() * $i);
    }

    .col-sm--offset--#{$i} {
      margin-left: (column-width() * $i);
    }
  } @else {
    .col-sm--#{$i} {
      flex: 0 0 (total-column-width() * $i);
    }
    .col-sm--offset-#{$i} {
      margin-left: (total-column-width() * $i);
    }
  }
}

@for $i from 1 through map-get($grid, 'columns') {
  @include media('#{break()}tablet') {
    @if $i == 12 {
      .col-md--#{$i} {
        flex: 0 0 (column-width() * $i);
      }
      .col-md--offset--#{$i} {
        margin-left: (column-width() * $i);
      }
    } @else {
      .col-md--#{$i} {
        flex: 0 0 (total-column-width() * $i);
      }
      .col-md--offset-#{$i} {
        margin-left: (total-column-width() * $i);
      }
    }
  }
}


@for $i from 1 through map-get($grid, 'columns') {
  @include media('#{break()}desktop') {
    @if $i == 12 {
      .col-lg--#{$i} {
        flex: 0 0 (column-width() * $i);
      }
      .col-lg--offset--#{$i} {
        margin-left: (column-width() * $i);
      }
    } @else {
      .col-lg--#{$i} {
        flex: 0 0 (total-column-width() * $i);
      }
      .col-lg--offset-#{$i} {
        margin-left: (total-column-width() * $i);
      }
    }
  }
}
